@font-face {
  font-family: 'rickandmorty';
  src: url('rick_and_morty.ttf')
}

html { 
  background: url(R&Mbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #00ff00;
  font-family: 'rickandmorty';
  font-size: 40px;
  padding-bottom: 20px;
} 
body {
  display: flex;

  flex-wrap: wrap
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.scriptdiv {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between
}