* {
  margin: 0;
}

@font-face {
  font-family: 'rickandmorty';
  src: url('rick_and_morty.ttf')
}

html { 
  background: url(R&Mbackground2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display:flex;
  justify-content: flex-end;
  font-family: 'rickandmorty';
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #46485c;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.title {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #3bc130;
  font-family: 'rickandmorty';
  font-size: 30px;
  margin-top: 30px;
} 

#register-form {
  display:flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

#name {
  margin-left: 10px;
}

#login-form {
  display:flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}
